@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'ComputerSaysNo';
  src: url('https://fonts.cdnfonts.com/s/15009/ComputerSaysNo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
